# Ignored directories
.devcontainer
.github
.git
.vscode
node_modules
public/build
vendor

# Ignored files
Thumbs.db
Desktop.ini
.directory
.DS_Store
.dockerignore
.editorconfig
.gitattributes
.gitignore
#.env
.env.*
docker-compose.yml
public/hot
